<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quiz.quotamanage.mapper.QuotaUpdateLogMapper">

    <sql id="Base_Column_List">
            id,
            quota_account_id,
            account_type,
            quota,
            updatedTime,
            createdTime
    </sql>

    <insert id="insertQuotaLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO quota_update_log(quota_account_id, update_type, quota)
        VALUES (#{quotaAccountId}, #{updateType}, #{quota});
    </insert>

</mapper>
